@model IEnumerable<Job1670.Models.Listing>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_Alert" />
<h1>List Job of Employers</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employer.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.JobId">Edit</a>
                    }

                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.JobId">Details</a>
                    @if (User.IsInRole("Admin") || User.IsInRole("Employer"))
                    {
                        <a class="btn btn-secondary" asp-action="Delete" asp-route-id="@item.JobId"> Delete</a>
                    }
                    @if (User.IsInRole("JobSeeker") || !User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-secondary" asp-controller="JobApplications" asp-action="Create" asp-route-id="@item.JobId">Apply</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
