@model List<Job1670.Models.JobSeeker>

@{
    ViewData["Title"] = "JobSeekers Applied to Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>JobSeekers Applied to Listing</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Detail</th>
                <th>CV</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var jobSeeker in Model)
            {
                <tr>
                    <td>@jobSeeker.FullName</td>
                    <td>@jobSeeker.Email</td>
                    <td>@jobSeeker.Address</td>
                    <td>@jobSeeker.Phone</td>
                    <td>@jobSeeker.CV</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No jobseekers have applied to this listing.</p>
}

<a asp-action="Index">Back to Listings</a>
