@model Job1670.Models.JobApplication
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>JobApplication</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Listing)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Listing.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobSeeker)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobSeeker.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoverLetter)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoverLetter)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model?.JobApplicationId"> Edit</a>
    }
    <a class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>
