@model IEnumerable<Job1670.Models.JobApplication>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_Alert" />
<h1>List Applications</h1>

@if (User.IsInRole("Admin"))
{
    <a class="btn btn-primary" asp-action="Create">Create New</a>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Listing)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobSeeker)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverLetter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Listing.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobSeeker.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoverLetter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Employer"))
                    {
                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.JobApplicationId">Edit</a>
                    } 

                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.JobApplicationId">Details</a>
                    @if (User.IsInRole("Admin") )
                    {
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.JobApplicationId">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
