@model IEnumerable<Job1670.Models.Employer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_Alert" />
<h1>Information of Employer</h1>

@if (User.IsInRole("Master"))
{
    <p><a class="btn btn-secondary" asp-action="Create">Create New</a></p>
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.CompanyName)</th>
            <th>@Html.DisplayNameFor(model => model.Address)</th>
            <th>@Html.DisplayNameFor(model => model.Detail)</th>
            <th>@Html.DisplayNameFor(model => model.Phone)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>User</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CompanyName)</td>
                <td>@Html.DisplayFor(modelItem => item.Address)</td>
                <td>@Html.DisplayFor(modelItem => item.Detail)</td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@item.ApplicationUserId</td>
                <td>
                    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.EmployerId">Edit</a> |
                    <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.EmployerId">Details</a> |
                    @if (User.IsInRole("Admin") )
                    {
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.EmployerId">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
